extends layout2

block content
  script(type='text/javascript').
    let local_teaching = !{JSON.stringify(teaching)}
  h1 Add course
  form(method= 'POST', action='/enss/addCourse')
    .form-group
      label(for='subjectSelection') Subject selection:
      select#subjectSelection.form-control(name="subject")
    .form-group#groupSelection
    .form-group
      label Title:
      input.form-control(name='title', type='text')
    .form-group
      label Course file:
      input.form-control(name='courseFile', type='text')
    br
    input.btn.btn-primary(type='submit',value='Submit')
  script(src="/js/addCourse.js")
