extends layout3

block content
  h4 group #{group} has these courses for #{subject}
  br
  if coursesList
    each course, i in coursesList.courses
      ul.list-group
        h1
        li.list-group-item Title : #{course.title}
        li.list-group-item Published by Ens : #{course.publisher.fullName}
        a(href="/students/files/" + course.courseFile, color="red") Course file
      br
          
