extends layoutNR

block content
  h3(style="text-decoration: underline;") Le groupe #{group} a ces coures pour #{subject} 
  br
  if coursesList
    each course, i in coursesList.courses
      .box
        ul.list-group
          li.list-group-item Titre : #{course.title}
          li.list-group-item Publier par Ens : #{course.publisher.fullName}
          a(href="/students/files/" + course.courseFile, style="text-decoration: underline;font-weight: bold;") Ouvrir le fichier
        br
