extends layoutNR
block content
    link(rel='stylesheet', href='/css/cssNR/home.css', type='text/css')
    #acceuil
      h1 Bienvenue
      if !user
        h3 veuillez vous connecter
        a.btn.btn-info(href='/users/login', role='button') Connéxion
      else
        h3 vous êtes connecté
        a.btn.btn-info(href='/users/'+user.username, role='button') Voir votre profil
    
