extends layout3

block content
  h1 LOGIN
  form(method= 'POST', action='/users/login')
    #form-group
      label.sr-only(for='inputUsername') Username
      input#inputUsername.form-control(name='username', type='text', placeholder='Username', required='', autofocus='')
    br
    #form-group
      label.sr-only(for='inputPassword') password
      input#inputPassword.form-control(name='password', type='password', placeholder='Password', required='')
    br
    input.btn.btn-primary(type='submit',value='Login')
