extends layoutNR
block content 
  br
  //.box
    ul.list-group
      each subject, i in subjects
        li.list-group-item 
          a(href="/subjects/" + user.accountOwner.group + '/' + subject.subjectId)= subject.fullName
  .box
    each subject, i in subjects
      a(href="/subjects/" + user.accountOwner.group + '/' + subject.subjectId)
        button.button(style='vertical-align:middle')
          span
            i= subject.fullName
        br
  
